@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
}
html{
  font-size: 16px;
}
body{
    background-color: rgb(255, 255, 255);
}

/**HEADER**/
header{
  display: flex;
  flex-direction: column;
}
.contenedor-imagen-burger{
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 15px;
}
.contenedor-imagen-burger img{
  width: 110px;
}
.hamburger{
  display: block;
  cursor: pointer;
}
.hamburger .line {
  display: block;
  width: 40px;
  height: 5px;
  margin: 10px;
  background-color: #000000;
}
.nav-links {
  display: none;
}
.nav-links ul li{
  list-style-type: none;
  padding: 10px;
}
.nav-links a {
  text-decoration: none;
  color: rgb(14, 13, 13);
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
}
.nav-links a:hover,
.nav-links a:focus {
  color: #15bd31;
}


/*FAQS*/
.faqs-container{
  display: flex;
  flex-direction: column;
  height: auto;
  width: 100%;
  min-height: 30px;
  border-radius: 20px;
  cursor: pointer;
  text-align: center;

}
.faq-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 70px;  
  background-color: rgb(245, 245, 245);
  border-radius: 15px;
  margin: 5px 0 5px 0;
  width: 100%
} 
.faq-container h3{
  padding: 15px;
  font-size: 1rem;
  font-weight: 800;
}

.faq-container p{
  padding: 15px;
  font-size: 1rem;
  text-align:start;
}
.faq-answer{
  display: none;
}
.expanded {
  display: block;
}
.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 70vh;
}

/**Main**/
main{
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(90deg, #82DCA1 0%, #0D781E 100%);
  min-height: 20vh;
  width: 100%;
}
.main-title{
  font-size: 1.5rem;
  font-family: 'Raleway', sans-serif;
  color: white;
  font-weight: 800;
  text-align: center;
}



section{
  font-family: 'Raleway', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
}

section h2{
  color: #053610;
  margin-top: 35px;
  font-size: 1.5rem;
  font-weight: 800;
  text-align: center;
}
section p, section ul, section .iframe-container{
  padding: 16px 0 0px 0;
  font-weight: 600;
  font-size: 1rem;
  color: #0A2212;
  list-style: none;
}
section ul li{
  margin: 0 0 10px 0;
}
section p span, section ul li span{
  font-weight: 800;
}

/*FOOTER*/

.iframe-container{
  width: 100%;
  height: 254px;
}
.iframe-container iframe{
  width: 100%;
  height: 100%;
}

.lista-de-posts{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  list-style: none;
}
.lista-de-posts li{
  display: flex;
  width: 90%;

}

@media screen and (min-width: 636px) {
  html{
    font-size: 24px;
  }
  header{
    height: 150px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
  .nav-links{
    display: flex;
    align-items: center;
  }
  .nav-links ul {
    display: flex;
  }
  .nav-links ul li a{
    font-family: 'Raleway', sans-serif;
    font-size: 1rem;
    font-weight: 600;
  }
  .img-contenedor{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .img-contenedor img{
    width: 140px;
  }

  .hamburger {
    display: none;
  }
  section p, section ul, section .iframe-container{
    padding: 16px 0 0px 0;
    font-weight: 600;
    font-size: 1rem;
    color: #0A2212;
    list-style: none;
  }

  section h2{
    color: #053610;
    margin-top: 55px;
    font-size: 1.8rem;
    font-weight: 800;
    text-align: center;
  }

  .iframe-container{
    width: 100%;
    height: 600px;
  }

  .lista-de-posts{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
    width: 80%;

  }  

  .lista-de-posts li{
    width: 100%;
    height: 100%;
    display: flex;
  }


}