---
import Card from '../../components/Card.astro';
import BaseLayout from '../../layouts/BaseLayout.astro';
const posts = await Astro.glob('./*.md');
const title = "Productos";
---

<BaseLayout title = {title}>
	<ul class="lista-de-posts">
		{posts.map((post) => 
		<li>
			<Card imagen={post.frontmatter.image.url} title={post.frontmatter.title} url={post.url}/>
		</li>)}
	</ul>
</BaseLayout>
