---
import BaseLayout from '../layouts/BaseLayout.astro';
const title = "Cultivos Hidroponicos";
---
<BaseLayout title={title}>
	<main>
		
	</main>
	<h2>¿Qué Son Los Cultivos Hidropónicos?</h2>
	<p>
		Los cultivos hidropónicos son una forma innovadora de cultivar alimentos sin usar tierra. En lugar de suelo, utilizan materiales especiales llenos de nutrientes para hacer crecer las plantas, proporcionándoles todo lo que necesitan para crecer.
	</p>
	<h2>Beneficios de la hidroponía</h2>
	<p>Ahorro de agua: Utilizarás menos agua en comparación con la agricultura tradicional. En los cultivos hidropónicos, el agua se recircula y se utiliza de manera más eficiente.
		Mayor producción y calidad: Obtendrás más cantidad de cultivos en menor tiempo y con una calidad superior. Además, en un espacio menor y en un ambiente controlado.
		Menos plagas y enfermedades: Tus cultivos tienen menos probabilidades de verse afectadas por plagas y enfermedades del suelo.
		Crecimiento durante todo el año: No tendrás que preocuparte por la estación del año. Los cultivos hidropónicos permiten cosechas continuas sin importar en la época en la que te encuentres.
		Ventajas medioambientales: Evitarás el uso de abonos y recursos hídricos, lo que significa menos riesgo de contaminación por pesticidas, erosión y daños al suelo.</p>
	<h2>Dificultades de los cultivos hidropónicos</h2>
	<p>
		Costos iniciales: Deberás realizar una inversión inicial en equipos, luces de crecimiento, nutrientes y sistemas de control, lo que puede resultar algo costoso (ver productos aquí)
		Conocimiento técnico: Deberás informarte sobre los diferentes sistemas hidropónicos, tipos de nutrientes, pH del agua y otros aspectos técnicos necesarios para iniciarte.
		Mantenimiento constante: Deberás supervisar y cuidar regularmente tus cultivos, por lo que necesitarás dedicarle tiempo.
	</p>
</BaseLayout>