---
const {imagen, titulo} = Astro.props
---
<div class="card-container">
    <img src={`../src/images/${imagen}`} alt=`Imagen de ${titulo}`>
    <h1>{titulo}</h1>
</div>

<style>
    .card-container{
      max-width: 5px;
    }
    .card-container img{
      width: 2em;
    }
</style>