---
const { title, url, imagen} = Astro.props;
---

<div class="card-container">
    <a href={url}>
      <img src={imagen} alt={title}>
      <h3>{title}</h3>
    </a>
    
</div>

<style>
    .card-container{
      background-color: rgb(82, 82, 82);
      margin: 5px;
      width: 100%;
      height: 100%;
    }

    img{
      width: 100%;
      min-height: 150px;
    }


</style>