---
---
<div class="faqs-container" >
    <div class="faq-container">
        <h3>¿Qué tipo de cultivos hidroponicos existen?</h3>
        <p class="faq-answer">Existen muchos tipos de cultivos hidropónicos diferentes. Algunos de los más comunes son el sistema NFT, el sistema de gota a gota, el conocido como aeroponia y el sistema de raiz flotante.</p>
    </div>
    <div class="faq-container">
        <h3>¿Qué tipo de cultivos hidroponicos existen?</h3>
        <p class="faq-answer">Existen muchos tipos de cultivos hidropónicos diferentes. Algunos de los más comunes son el sistema NFT, el sistema de gota a gota, el conocido como aeroponia y el sistema de raiz flotante.</p>
    </div>
    <div class="faq-container">
        <h3>¿Qué tipo de cultivos hidroponicos existen?</h3>
        <p class="faq-answer">Existen muchos tipos de cultivos hidropónicos diferentes. Algunos de los más comunes son el sistema NFT, el sistema de gota a gota, el conocido como aeroponia y el sistema de raiz flotante.</p>
    </div>
    <div class="faq-container">
        <h3>¿Qué tipo de cultivos hidroponicos existen?</h3>
        <p class="faq-answer">Existen muchos tipos de cultivos hidropónicos diferentes. Algunos de los más comunes son el sistema NFT, el sistema de gota a gota, el conocido como aeroponia y el sistema de raiz flotante.</p>
    </div>
</div>
<script >
	import "../scripts/faq.js";
</script>

