---
import Navigation from '../components/Navigation.astro';
import Hamburger from './Hamburger.astro';
---
<header>
    <div class="contenedor-imagen-burger" transition:persist>
        <a href="/">
            <div class="img-contenedor">
                <img src="../src/images/logo.png" alt="">
            </div>
        </a>
        <Hamburger />
    </div>
    <Navigation />  
</header>


