---
---
<header>
    img
    <nav>
        <ul>
            <li><a href="/">Inicio</a></li>
            <li><a href="/cultivos">Cultivos</a></li>
            <li><a href="/guias">Guías</a></li>
            <li><a href="/productos">Productos</a></li>
        </ul>
    </nav>
</header>

<style>
    
</style>