---
import PaginationButton from "./PaginationButton.astro";
const { prevUrl, nextUrl, minCantidad, maxCantidad } = Astro.props;
---

<div>
    <p>{minCantidad}/{maxCantidad}</p>
    <nav>
        {
            prevUrl && <PaginationButton url={prevUrl} text="Anterior"/>
        }
        {
            nextUrl && <PaginationButton url={nextUrl} text="Siguiente"/>
        }
    </nav>
</div>

<style>
    div{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    div p{
        text-align:center;
    }
    nav{
        display: flex;
        justify-content: space-between;
        width: 80%;
    }
</style>